@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');


body{
    font-family: 'Roboto';
    color: #04146c;
    box-sizing: border-box;
    text-align: center;
    padding: 2%;
    padding-top: 0;
}

nav{
    display: flex;
    font-size: 24px;
    align-items: center;
    margin-bottom: 50px;
}

a:focus{
    font-weight: 700;
}

a{
    display: inline;
    color: inherit;
    text-decoration: inherit;
    margin-right: 3vw;
    margin-top: 3vh;
}

hr{
    position: absolute;
    border: 5px solid #0a2ff1;
    top: 0;
}

h1{
    font-family: 'Roboto Slab';
    font-weight: 700;
    color: #0a2ff1;
    font-size: 96px;
    margin: 0px;
}

p{
    font-family: 'Roboto';
    font-size: 34.7px;
}

#logo{
    display: inline;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 2vw;
    width: 5%;
}

#webHosting{
    width: 100%;
    height: auto;
}

#barraSup{
    display: block;
    background-color: #0a2ff1;
    height: 2%;
    margin: 0;
}

