@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto';
    box-sizing: border-box;
    font-size: 24px;
    color: #04146c
}

h1{
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 45px;
    color: #0a2ff1;
}

h2{
    font-weight: 700;
}

main{
    display: flex;
    width: 90%;
    height: 96vh;
    margin-left: 5%;
    align-items: flex-end;
}

h1, h2, p{
    display: block;
}

footer{
    background-color: #3958F1;
    height: 11vh;
    
}

#fotoFooter{
    height: 6vh;
    width: auto;
    margin-top: 2.5vh;
    margin-left: 4vw;
}

#fotoMain{
    width: 110%;
    height: auto;
    margin-bottom: -10%;
}

#texto{
    width: 50%;
    align-self: flex-start;
}